* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "Segoe UI";
  src: url(/assets/fonts/SegoeUI-Light.eot);
  src: local("Segoe UI Light"), local("SegoeUI-Light"),
    url(/assets/fonts/SegoeUI-Light.eot?#iefix) format("embedded-opentype"),
    url(/assets/fonts/SegoeUI-Light.woff) format("woff"),
    url(/assets/fonts/SegoeUI-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Segoe UI";
  src: url(/assets/fonts/SegoeUI-BoldItalic.eot);
  src: local("Segoe UI Bold Italic"), local("SegoeUI-BoldItalic"),
    url(/assets/fonts/SegoeUI-BoldItalic.eot?#iefix) format("embedded-opentype"),
    url(/assets/fonts/SegoeUI-BoldItalic.woff) format("woff"),
    url(/assets/fonts/SegoeUI-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Segoe UI";
  src: url(/assets/fonts/SegoeUI-SemiBold.eot);
  src: local("Segoe UI Semibold"), local("SegoeUI-SemiBold"),
    url(/assets/fonts/SegoeUI-SemiBold.eot?#iefix) format("embedded-opentype"),
    url(/assets/fonts/SegoeUI-SemiBold.woff) format("woff"),
    url(/assets/fonts/SegoeUI-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Segoe UI";
  src: url(/assets/fonts/SegoeUI.eot);
  src: local("Segoe UI"), local("SegoeUI"),
    url(/assets/fonts/SegoeUI.eot?#iefix) format("embedded-opentype"),
    url(/assets/fonts/SegoeUI.woff) format("woff"),
    url(/assets/fonts/SegoeUI.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Segoe UI";
  src: url(/assets/fonts/SegoeUI-Bold.eot);
  src: local("Segoe UI Bold"), local("SegoeUI-Bold"),
    url(/assets/fonts/SegoeUI-Bold.eot?#iefix) format("embedded-opentype"),
    url(/assets/fonts/SegoeUI-Bold.woff) format("woff"),
    url(/assets/fonts/SegoeUI-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Segoe UI";
  src: url(/assets/fonts/SegoeUI-Italic.eot);
  src: local("Segoe UI Italic"), local("SegoeUI-Italic"),
    url(/assets/fonts/SegoeUI-Italic.eot?#iefix) format("embedded-opentype"),
    url(/assets/fonts/SegoeUI-Italic.woff) format("woff"),
    url(/assets/fonts/SegoeUI-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
body {
  background-color: white;
  font-family: "Segoe UI", Arial, Tahoma;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  background-color: #f7f7f7;
  padding-top: 4em;
  padding-bottom: 4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__top {
  padding-bottom: 4em;
}

.logo {
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
}

.nav {
  display: flex;
  list-style-type: none;
}

.nav__item {
  margin-right: 20px;
}
.nav__item:last-child {
  margin-right: 0;
}

.nav__item a {
  color: black;
  text-decoration: none;
  font-size: 1em;
  border-bottom: 1px solid #f7f7f7;
  padding-bottom: 0.2em;
}

.nav__item a:hover {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #bdbdbd;
}

.phone {
  font-weight: 600;
  font-size: 1.2em;
  color: black;
  text-decoration: none;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content__image {
}

.header-content__description {
  font-size: 1.2em;
  padding: 0 0 1em;
}

h1.header-content__title {
  font-weight: 700;
  font-size: 3.4em;
  line-height: 1.1em;
  padding: 0.5em 0;
}

.header-content__text {
  margin-right: 2em;
}

button {
  background-color: #007dd7;
  padding: 1em 1.5em;
  font-size: 1.2em;
  border: 0;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}

.button--shadow {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

.button--shadow:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
